* {
    box-sizing: border-box;
}

html {
    font-size: 1.25em;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    background-color: azure;
}

.body__header {
    border-bottom: 2px solid rgb(32, 32, 32, 0.75);
    color: rgb(32, 32, 32, 0.75);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
}

.pageHeader {
    text-align: center;
    font-size: 1em;
    background-color: rgb(84, 225, 225);
    color: azure;
    text-shadow:1px -1px 6px rgb(51, 51, 51);
    padding-top: 1em;
    padding-bottom: 1em;
}

.fishy {
    margin: 0 0.5em 0.5em 0.5em;
    background-color: azure;
    /* border: 2px dotted gray; */
}

.fishy__container {
    width: 100%;
    text-align: center;
    /* border: 2px dotted salmon; */
    margin-left: auto;
    margin-right: auto;
}

.fishy__header {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.fishy__cardsection {
    margin-top: 0.5em;
    /* border: 2px dotted firebrick; */
}

.fishy__card {
    margin-bottom: 0.5em;
    background-color: lightcyan;
    width: 100%;
    text-align: center;
    padding: 1.5em 1.0em;
    border-radius: 8px;
    box-shadow: -1px 1px 6px rgb(129, 128, 128);
}

.fishy__species {
    color: rgb(32, 32, 32, 0.75);
}

.fishy__info {
    text-align: left;
}

.fishy__img {
    width: 80%;
    border-radius: 6px;
}

.fishy__careInfo {
    width: 100%;
    padding: 0 1em 0 0;
    
}

.fishy__careInfoheader {
    text-align: center;
}

.fishy__carelist {
    background-color: azure;
    box-shadow: -1px 1px 6px rgb(129, 128, 128);
    border-radius: 8px;
    margin-top: 0.5em;
    padding: 0.5em 1.5em;
}

.location {
    margin: 0 0.5em 0 0.5em;
    text-align: center;
    /* border: 2px dotted gray; */
}

.location__card {
    background-color: lightcyan;
    border-radius: 8px;
    box-shadow: -1px 1px 6px rgb(129, 128, 128);
    margin-bottom: 1.5em;
}

.location__img {
    width: 100%;
    border-radius: 8px;
}

.location__details {
    text-align: left;
    padding-right: 1.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

.location__header {
    color: rgb(32, 32, 32, 0.75);
}

.location__quotes {
    text-align: left;
    background-color: azure;
    border-radius: 8px;
    box-shadow: -1px 1px 6px rgb(129, 128, 128);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.location__quotehead {
    color: rgb(32, 32, 32, 0.75);
}

.location__quotelist {
    font-style: italic;
    color:rgb(51, 51, 51);
    list-style-type: none;
}

.pageFooter {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: lightcyan;
    color:rgb(51, 51, 51);
}
/*--MEDIA QUERIES---------------------------------------------------------------------*/

@media screen and (min-width: 730px) {
    .pageHeader {
        text-align: right;
        background-image: url("../images/aquarium.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: azure;
        padding: 25vh 12em; 
        color: lightcyan;
        text-shadow: 1px -1px 8px black;
    }

    .fishy {
        display: flex;
        margin: 0 1.5em 1.5em 1.5em;
    }

    .fishy__container {
        width: 70%;
    }

    .fishy__cardsection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 1.75em;
    }

    .fishy__card {
        width: 45%;
        margin: 0;
    }

    .fishy__careInfo {
        width: 30%;
    }

    .location {
        margin: 0 1.5em 0 1.5em;
    }

    .location__quotes {
        margin-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    
}

@media screen and (min-width: 1088px) {

    .location__card {
        display: flex;
        column-gap: 2em;
    }

    .location__img {
        width: 33%;
        border-radius: 8px 0 0 8px;
    }

}

@media screen and (min-width: 730px) and (max-width: 839px) {
    .fishy__careInfoheader {
        font-size: 1.25em;
        padding-bottom: 0.58em;
    }
}

